* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

}
.link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

a {
    font-family: 'raleway';
    font-weight: 600;
    color:rgb(255, 255, 255);
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'raleway';
    font-weight: 600;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.img-responsive {
    display: block;
    max-width: auto;
    height: auto;
}


.card1__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .card1 {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  
  }
  
  .video-section {
    /* Set your desired background color */
   padding: 20px;
   text-align: center;
}
.video-container {
   width: 300px;
   margin: 20px;
   display: inline-block;
}
.upper-section, .lower-section {
   display: block;
}
  
  
  .card1__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

/*header*/

header {
    background-color: red;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: #fff;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 30px 0;
    transition: all 0.5s ease;
}

.nav-fixed {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 2px 2px 10px #bbb;
}

.nav-fixed h2 {
    color: #fa3f3f !important;
}

.nav-fixed .nav ul a {
    color: #fa3f3f;
}

.menu-par {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul li {
    display: inline-block;
}

.nav ul a {
    color: #fff;
    padding: 10px;
    position: relative;
}

.nav ul a:before {
    content: "s";
    background-color: #fa7070;
    position: absolute;
    top: 0;
    width: 0%;
    height: 2px;
    font-size: 0px;
    left: 10px;
    transition: all 0.5s ease;
}

.nav ul a:hover:before {
    width: 74%;
}

.home_header_info h1 {
    font-size: 45px;
    padding: 20px 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-par h2 {
    color: #fff;
    font-size: 30px;
}

.home_header_info p {
    font-size: 15px;
    line-height: 30px;
    width: 80%;
    margin: 0 auto;
}

.home_header_info a {
    background-color: #fff;
    color: #138808;
    text-decoration: none;
    padding: 17px 45px;
    margin-top: 25px;
    display: inline-block;
    font-size: 14px;
    position: relative;
    overflow: hidden;
}

.home_header_info a:hover {
    color: #fff;
}

.home_header_info a:after {
    content: "Register Here";
    background-color: #138808;
    width: 0%;
    font-size: 15px;
    height: 100%;
    line-height: 50px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    right: 0;
}

.home_header_info a:hover:after {
    width: 100%;
}

.toggle-btn {
    display: none;
    color: #fff;
}

/* slides*/

section#slides_parent {
    padding-bottom: 150px;
}

.slides {
    display: flex;
    justify-content: center;
}

.slides h4 {
    color: #444;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}

.slide_1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 129, 129, 0.3)), url(Images/intro-1669144933.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    min-width: 60px;
    height: 300px;
    border-radius: 40px;
    margin: 0 15px;
    position: relative;
    transition: all 0.9s ease;
}

.slide_1:hover {
    min-width: 250px;
}

.slide_1:hover .slide_info {
    transform: rotate(0deg);
    left: 20px;
    bottom: 20px;
    font-size: 22px;
}

.slide_2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/Paper-Mache-Eggs-600x620.webp);
}

.slide_3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/Rassasi-Blue-Sea.webp);
}

.slide_4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/Kashmirb7qPFN.jpg);
}

.slide_5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/walnut\ wodden\ craft.jpg);
}

.slide_6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/willow\ bats.jpg);
}

.slide_7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Images/traditional\ jewellary.jpg);
}
.slide_info {
    position: absolute;
    bottom: 51px;
    color: rgb(255, 255, 255);
    transform: rotate(-90deg);
    right: 0px;
    font-weight: 700;
    font-size: 12px;
}

/*welcome Sec Css*/

section#welcome_Sec {
    text-align: center;
    padding: 80px 0px;
}

section#welcome_Sec h2 {
    color: #343a40;
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 12px;
}

section#welcome_Sec p {
    font-size: 17px;
    color: #777;
    font-weight: 400;
    line-height: 30px;
}

/*explore sec*/

#explore-fiji {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1524492412937-b28074a5d7da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aW5kaWF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
    color: #fff;
}

.explore-info h3 {
    font-size: 106px;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

/*.explore-info p {
    font-size: 20px;
    line-height: 30px;
}

.explore-info button {
    background-color: #00a8b4;
    border: none;
    padding: 15px 70px;
    border-radius: 100px;
    margin-top: 25px;
    border: 2px solid #00a8b4;
    transition: all 0.5s ease;
}

.explore-info button:hover {
    background-color: #fff;
}

.explore-info button:hover a {
    color: #00a8b4;
}

.explore-info button a {
    color: #fff;
    text-decoration: none;
}*/

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 40px;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    box-shadow: 2px 2px 30px #fff;
    margin-right: 20px;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background-color: transparent;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 26px;
}

input[type=text],
select,
textarea {
    width: 100%;
    color: #00a8c5;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

::placeholder {
    color: #fff;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

input[type=text]:focus,
select:focus,
textarea:focus {
    border: 2px solid #00a8c5;
    outline: none;
}

input[type=submit] {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    transition: all 0.5s ease;
}


input[type=submit]:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.explore-content-par {
    display: flex;
    align-items: flex-start;
}

.explore-info {
    flex: 1;
}

.counter-form {
    flex: 1;
}


/*gallery*/

section#gallery {
    margin: 100px 0px;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #ff6565;
    border-radius: 5px;
    text-align: center;
    color: #faf8f8;
    background-color: #ff6060;

}

.filter-button {
    font-size: 18px;
    border: 1px solid #ff5f5f;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 96, 96);
    margin-bottom: 30px;
    background-color:#f7f0f0;
    padding: 10px 20px;
    margin: 20px 0px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.filter-button:focus {
    background-color: #fff;
    color: #ffffff;
    outline: none;
}

.filter-gal-par {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 20px;
    overflow: hidden;
}

.gallery_product img {
    width: 360px;
    height: 300px;
    object-fit: cover;
    transition: all 0.5s ease;
}

.gallery_product img:hover {
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.7;
    transform: scale(1.1, 1.1);
}

/*holyday-fiji*/

.card {
  --card-gradient: rgba(0, 0, 0, 0.8);
  --card-blend-mode: overlay;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  padding-bottom: 1rem;
  background-image: linear-gradient(var(--card-gradient), white max(9.5rem, 27vh));
  overflow: hidden;
  box-sizing: border-box;
}
.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: max(10rem, 30vh);
  aspect-ratio: 4/3;
  mix-blend-mode: var(--card-blend-mode);
}
.card img ~ * {
  margin-left: 1rem;
  margin-right: 1rem;
}
.card > :last-child {
  margin-bottom: 0;
}
.card:hover, .card:focus-within {
  --card-gradient: #adabab max(8.5rem, 20vh);
}

/* Additional demo display styles */
#fiji-holyday {
  display: grid;
  place-content: center;
  justify-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: #444;
  background-color: #f7dcdc;
  box-sizing: border-box;
    
}
.google-map{
    text-align: center;
}

.card h3 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.card a {
  color: inherit;
}

.card-wrapper {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1.5rem;
  max-width: 100vw;
  width: 120ch;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* #fiji-holyday {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/holyday-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0px;
}

section#fiji-holyday h3 {
    color: #343a40;
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 12px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
}

 */
/* .owl-img-par {
    position: relative;
    overflow: hidden;
    width: 500px;
}

.owl-img-info {
    position: absolute;
    bottom: 20px;
    color: #fff;
    left: 25px;
}

.owl-img-par img {
    filter: brightness(0.6);
    transition: all 0.5s ease;
}

.owl-img-par img:hover {
    transform: scale(1.1, 1.1);
}
 */
/* section#project {
    position: relative;
    margin-top: 50px;
}

.owl-carousel.owl-theme.owl-loaded.owl-drag {
    margin-top: 80px;
}

.owl-img-info h3 {
    font-size: 23px !important;
}
 */
/*blog*/


#blog {
    padding: 100px 0;
}
#fiji-holyday h2 {
    color: #343a40;
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 12px;
    text-align: center;
    text-transform: capitalize;
}

#blog h3 {
    color: #343a40;
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 12px;
    text-align: center;
    text-transform: capitalize;
}

div#blog-par {
    display: flex;
    margin-top: 70px;
}

.blog-content {
    display: flex;
    align-items: center;
}

.blog-info ul li {
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    font-size: 13px !important;
    font-size: 0.75rem;
    margin-right: 5px;
}

.blog-img {
    position: relative;
}

/*.blog-img:before {
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 17px;
    background-color: #00a8c5;
    color: #fff;
    z-index: 1;
    padding: 9px;
}*/

.blog-img img {
    height: 140px;
    width: 300px;
}

.blog-info {
    margin-left: 30px;
}

.blog-info h4 {
    color: #00a8c5;
    font-size: 20px;
    margin: 6px 0px;
    cursor: pointer;
}

.blog-content p {
    color: #777;
    font-size: 14px;
    line-height: 25px;
}

/*footer*/

footer {
    border-top: 3px solid #00a8c5;
}


.footer-1 h2 {
    color: #138808;
    font-size: 30px;
}

.fot-info h3 {
    color: #333;
    font-size: 25px;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.fot-info ul {
    list-style: none;
}

.fot-info ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px 0px;
    display: inline-block;
    transition: all 0.6s ease;
}

.fot-info ul li a:hover {
    padding-left: 5px;
}

.copyright {
    text-align: center;
    background-color: #fa3f3f;
    color: #fff;
    padding: 14px 0px;
    margin: 50px 0px 0px 0px;
}

.footer-par {
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 0px;
}

@media screen and (max-width:768px) {
    .nav {
        position: fixed;
        background-color: #000;
        width: 100%;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        transition: all 0.5s ease;
    }

    .nav-active {
        left: 0;
    }

    .toggle-btn i.nav-active:before {
        content: "\f00d";
    }

    .nav ul li {
        display: block;
        text-align: center;
        margin-top: 30px;
    }

    .nav ul {
        margin-top: 100px;
    }

    .toggle-btn {
        display: block;
        z-index: 1;
    }

    .home_header_info h1 {
        font-size: 20px;
        line-height: 30px;
    }

    .home_header_info p {
        font-size: 14px;
        line-height: 30px;
        width: 100%;
        margin: 0 auto;
    }

    section#welcome_Sec h2 {
        font-size: 21px;
    }

    section#welcome_Sec p {
        font-size: 14px;
        color: #777;
        font-weight: 400;
        line-height: 26px;
    }

    .slides {
        flex-direction: column;
    }

    .slide_1 {
        width: 90%;
        min-width: 90%;
        height: 240px;
        margin: 20px 15px;
    }

    section#welcome_Sec {
        text-align: center;
        padding: 50px 0px 20px;
    }

    header {
        padding: 0 40px;
    }

    section#welcome_Sec h2 {
        font-size: 18px;
    }

    section#slides_parent {
        padding-bottom: 50px;
    }

    .slide_info {
        bottom: 21px;
        transform: rotate(0deg);
        left: 20px;
        font-size: 19px;
    }

    .explore-content-par {
        flex-direction: column;
    }

    .explore-info h3 {
        font-size: 50px;
        margin-bottom: 50px;
        text-align: center;
    }

    #clockdiv {
        font-size: 18px;
    }

    .smalltext {
        padding-top: 5px;
        font-size: 12px;
    }

    #clockdiv > div {
        margin-right: 14px;
    }

    .counter-form {
        flex: 1;
        margin-top: 40px;
    }

    #explore-fiji {
        padding: 50px 0;
    }

    section#gallery {
        margin: 30px 0px;
    }

    .filter-button {
        font-size: 15px;
        margin-bottom: 30px;
        margin: 20px 0px;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    #fiji-holyday {
        padding: 50px 0px;
    }

    #blog {
        padding: 50px 0;
    }

    section#fiji-holyday h3 {
        font-size: 28px;
    }

    .owl-carousel.owl-theme.owl-loaded.owl-drag {
        margin-top: 20px;
    }

    #blog h3 {
        font-size: 30px;
    }

    div#blog-par {
        flex-direction: column;
    }

    div#blog-par {
        margin-top: 0px !important;
    }

    .blog-info h4 {
        font-size: 17px;
    }

    div#blog-par {
        display: flex;
        margin-top: 30px;
    }

    .blog-content {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-par {
        flex-direction: column;
        text-align: center;
    }

    .explore-info {
        margin: 0 auto;
    }

}


@media screen and (max-width:950px) {}

.container_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
  }
  
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }
  
  .card1 {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  
  }
 
  
  .card1__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }
  
  .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
  }
  
  .user {
    display: flex;
    gap: .5rem;
  }
  
  .user__image {
    border-radius: 50%;
  }
  
  .user__info > small {
    color: #666;
  }